.content {
    width:80%;
    height:92vh;
    /* background-color:#e8e4c9; */
    background-image: url("https://wallpaperscmscwm.azurewebsites.net/DPM%20X019%20AQUABRUSH%20Light/xboxone.png?download");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    float:right;
}    
